@inherits LayoutComponentBase

<MudThemeProvider Theme="darkTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudAppBarSpacer />
        @if (isLoggedIn)
        {

            if (!hasProfile)
            {
                <MudButton Link="/setupProfile" Variant="Variant.Outlined" Color="Color.Warning">Get started!</MudButton>
            }
            <MudText><span style="color: #FF8000">@BattleTagName</span>@BattleTagId</MudText>
            <MudMenu Class="ml-5 p-5" Direction="Direction.Right" OffsetY="true">
                <ActivatorContent>
                    <MudAvatar Image="@ProfilePic" Color="Color.Transparent">

                    </MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    @if (hasProfile)
                    {
                        <MudMenuItem>
                            <MudButton OnClick="OpenProfilePage" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.AccountCircle">Profile</MudButton>
                        </MudMenuItem>
                    }
                    <form style="width: 250px" method="post" action="Identity/Account/LogOut">
                        <button type="submit">
                            <MudMenuItem>
                                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Logout">Logout</MudButton>
                            </MudMenuItem>
                        </button>
                    </form>
                </ChildContent>
            </MudMenu>
        }
        else
        {
            <MudButton Class="mr-5" StartIcon="@Icons.Material.Filled.Login" Link="/Identity/Account/Login" Color="Color.Primary">Login</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.PersonAdd" Link="/Identity/Account/Register" Color="Color.Success">Register</MudButton>
        }
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudNavMenu Class="mud-width-full">
            <MudText Typo="Typo.h6" Class="px-4 mt-1" Style="color: #FFFFFF">wowindex.io</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Warcraft rankings</MudText>
            <MudDivider Class="my-2" />
            @*<MudText Typo="Typo.subtitle2" Color="Color.Inherit" Class="ml-4 my-3">Leaderboards</MudText>*@
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Outlined.Home">Home</MudNavLink>
            <MudNavLink Href="/about" Icon="@Icons.Outlined.Info">About</MudNavLink>
            <MudNavLink Href="/contact" Icon="@Icons.Outlined.AlternateEmail">Contact</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {

    [Parameter]
    public string region { get; set; }

    public string ProfilePic { get; set; } = "img/profile-icon.svg";
    public string BattleTagName = "";
    public string BattleTagId = "";

    bool hasProfile = true;
    bool isLoggedIn = true;
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#141414",
            BackgroundGrey = "#27272f",
            Surface = "#1F1F1F",
            DrawerBackground = "#000000",
            DrawerText = "#b3b3b3",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#232940",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "#FFFFFF",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)"
        }
    };

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;

        if (!user.Identity.IsAuthenticated)
        {
            isLoggedIn = false;
        }

        var character = _context.Characters.Where(x => user.Identity.Name.Equals(x.Email)).FirstOrDefault();
        var profile = await _context.Profiles.Where(x => user.Identity.Name.Equals(x.AspEmail)).FirstOrDefaultAsync();
        if (character == null)
        {
            hasProfile = false;
        }
        else
        {
            region = character.Region;
            ProfilePic = character.avatar_url;
            BattleTagName = profile.BattleTag.Split('#')[0];
            BattleTagId = "#" + profile.BattleTag.Split('#')[1];
        }
    }

    private async Task OpenProfilePage()
    {
        var user = (await AuthStat).User;
        var character = await _context.Characters.Where(x => user.Identity.Name.Equals(x.Email)).FirstOrDefaultAsync();

        if (character.ExpirationDate < DateTime.Now.AddSeconds(-3))
            NavigationManager.NavigateTo($"/refreshProfile/{region}");
        else
        {
            NavigationManager.NavigateTo("/profile");
        }
    }

}
